//All Custom CSS Here!

//VUE ANIMATIONS
.fade-enter-active, .fade-leave-active{
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.slide-enter-active, .slide-leave-active {
  transition: transform .3s ease-out, opacity .3s ease-out;
}
.slide-enter, .slide-leave-to {
  transform: scale(0);
  opacity: 0;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
//end of VUE ANIMATIONS

div.bootstrap-select > .btn.btn-info.btn-simple{
  border: 1px solid #00bcd4;
}

.white-bg{
  background-color:hsl(0, 0%, 97%) !important;
}

.white-white-bg{
  background-color:#ffffff !important;
}

.jo-list{
  list-style: none;
  padding: 2px 0;
}

.jo-list > li{
  padding: 5px auto;
}

.jo-list > li > a{
  color: #395061;
  font-size: 13px;
}
.jo-list > li a:hover{
  display: block;
  // color: #4caf50;
  color: #125b94;
  font-size: 14px;
  transition: font-size 0.5s;
}


.my-input{
  // height: 28px;
  padding: 7px 8px;
  border: 1px solid #cacaca;
  color: rgb(51, 51, 51);
  border-radius: 3px;
  // line-height: 0.8rem;
  // background-color: #f6fcff;
}

.my-inp-blk{
  width: 100%;
}
.my-input:focus,
.my-text-area:focus{
  // background-color: #f5f9fc;
  background-color:#fafafa;
  // border: 2px solid rgb(0, 153, 255);
  transition: background-color 0.5s;
  // transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.my-text-area{
  padding: 3px 7px;
  border: 1px solid #b9b9b9;
  color: black;
  border-radius: 3px;
  resize: none;
  // background-color: #f6fcff;
}

.form-group label {
  color: rgb(83, 83, 83) !important;
}


@media print{
  .noprint{
    display: none;
  }
}

*{
  box-sizing: border-box;
}
ul > li > span.page-of:hover{
  background: none;
  cursor: context-menu;
}
.navbar-collapse{
  padding-left: 0;
}
.container-fluid{
  padding-left: 0;
}
.pagination {
  margin: 0px 0;
}
@media (max-width: 767px) {
  
}
@media (min-width: 767px) {
  body{
    height: 100vh;
    overflow: hidden;
  }
}

.navbar{
  margin-bottom:0px !important;
  box-shadow:none;
  width: 83vw;
}

#nav-admin{
  float:left;
  // width: 83vh;
}

/*PAGE HEADER*/
.title-head{
  padding: 8px 15px;
  background-color: #eeeeee; 
  width: 100%
}

.title-head > h2 {
  font-size: 16px;
  font-style: bold;
  margin: 0;
}
/*./PAGE HEADER*/

.mybox{
  // width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);
  margin-top: 10px;
  margin-bottom: 3px;
  padding:0;
  // height: 200px;
  border: 1px solid #d6d6d6;
}
.mybox-head{
  width :100%;
  padding: 1px 12px;
  border-bottom: 1px solid #e2e2e2;
  // background-color: #ceedfc;
}
.mybox-body{
  height: auto;
  background-color: whitesmoke;
  width: 100%;
  padding: 10px 16px;
}
.mybox-footer{
  width: 100%;
  padding: 2px 12px;
}

.main-main-container{
    width: 83vw;  
    height: auto; 
    float: left; 
    position:relative;
    padding: 0;
  } 
  .pl-10 {
    padding-left: 10px !important;
  }
  .pl-20{
    padding-left: 20px !important;
  }

/*SIDENAV*/
  .nav-side-menu {
    // overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    width:  17vw; 
    height: 100vh; 
    float: left; 
    position: relative; 
    background-color: #2e353d;
    color: #fff;  
  }
  .nav-side-menu .brand {
    background-color: #00161c;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    // margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
    */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    // float: right;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active,
  .nav-side-menu li.router-link-active,
  .nav-side-menu li.router-link-exact-active, {
    border-left: 3px solid #00bcd4;
    background-color: #4f5b69;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    // color: #d19b3d;
    color: #75d3ff;

  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #75d3ff;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    padding: 5px 47px;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    // content: "\f105";
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding: 3px 20px;
    // border-left: 3px solid #2e353d;
    // border-bottom: 1px solid #23282e;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }
  // .nav-side-menu li a i {
  //   padding-left: 10px;
  //   width: 20px;
  //   padding-right: 20px;
  // }
  .nav-side-menu li:hover {
    // border-left: 4px solid #e6fcff;
    background-color:  rgb(55, 155, 185) /* #5ebfff*/;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5 s ease;
  }
  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
/*./SIDENAV*/

p.note{
  font-size: 11px;
  font-style: italic;
  color: lightslategray;
}

.table-brands > thead{
  // background-color: #008596;
  // background-color: #bdbdbd;
  background-color: #9fa2ad;
}

.table-brands > thead > tr {
  color: #ffffff;
}

.table-brands > tbody{
  // background-color: #ffffff !important;
  background-color: #9e9e9e1a !important;
}



.mycard{
    // display: inline-block;
    width: 32%;
    // height: 100px;
    // padding: 8px;
    border-radius: 3px; 
    margin-right: 5px;
    // margin: 7px 8px;
    display:inline-block;
    transition-timing-function: ease-in-out;
}

.mycard:hover .mc-icon i{
  transform: scale(1.3);
  // padding-left: 4px;
  padding-bottom: 4px;
  // font-size: 30px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  // transition-delay: .3s;
}
.mc-head{
  width: 100%;
  padding: 15px auto;
  margin: 0 auto;
  background-color: #08080830;
  text-align: center;
}
    .mc-head > p{
      margin: 0 0 5px;
      font-style: bold;
      font-size: 12px;
    }
    .mc-head-info{
      background-color: #125b94;
    }
    .mc-head-closed{
      background-color: red;
    }
.mc-body{
  width: 100%;
  padding: 0;
  display: flex;
}
    .mc-num > h3{
      margin: 0 0 5px;
    }
.mc-icon{
  position: inline-block;
  padding: 7px 15px;
  width: 35%;
}
.mc-icon > i{
 font-size: 30px;
 color: #08080861;
}
.mc-num{
  position: inline-block;
  text-align: right;
  padding: 5px 10px;
  width: 65%;
}
.mycard-full-danger{
  background-color: #df0024;
  color: white;
}
.mycard-full-info{
    background-color: #2196f3;
    color: white;
    // border-left: #08528f solid 4px;
}

.mycard-full-primary{
    background-color: #ab47bc;
    color: white;
    // border-left: #7e358b solid 4px;
}

.mycard-full-success{
    background-color: #05ce26;
    color: white;
    // border-left: #128f27 solid 4px;
}

/*CARD*/
.mycard-sm{
    width: 70%;
    height: 60px;
    padding: 8px;
    margin-top: 7px;
    display:block;
}
.mycard-outline-info{
    border: #2196f3 solid 1px;
    color: rgb(51, 51, 51);
}
/*./END OF MY CARD*/

body{
    background-color: whitesmoke;
    overflow: none;
    height: 100vh;
    float: left;
    width: 100vw;
    overflow-x: hidden !important;
}

hr{
  margin-top: 10px !important;
  margin-bottom: 8px !important;
}
.content{
    display: block;
    position:relative;
    background-color: white;
    width: 100%;
    height: 95vh;
    margin:0;
    padding: 8px 10px;
}

.content-title{
    display:relative;
    
}

.admin-db{
    padding: 2px 0;
}

.bg-dark{
    color:white;
   background:rgb(64,64,64);
}

/*SCROLLBAR*/
  // ::-webkit-scrollbar {
  //   width: 9px;
  //   border-radius: 4px;
  // }
    /* Track */
  // ::-webkit-scrollbar-track {
  //   // background: #e0e0e0; 
  //   background: #fdfdfd;
  // }
    /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   // background: rgb(168, 168, 168);  
  //   background: #ececec;  
  //   width: 9px;
  //   border-radius: 10px;
  // }
    /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   // background: rgb(104, 104, 104);
  //   background: #cfcfcf;
  //   transition: 0.3s ease-in-out; 
  // }
/*./SCROLLBAR*/

/* Login */
.login-page>.page-header.header-filter {
  background-image: url('/images/business_desk.jpg');
  background-size: cover; 
  background-position: top center;
}

// messages
#message-component .msg-img{
  max-width: 100%;
  /* max-width: 415px; */
  width: auto;
}
#message-component .their-msg-img{
  float: left;
}
#message-component p.memDrop{
  /* padding: 3px 9px !important; */
  margin: 1px 0 0 13px;
}
#message-component .msg-input-wrap{
  display: inline-flex;
  width: 100%;
}
#message-component .msg-input-wrap > textarea{
  width:90%;
}
#message-component .msg-input-wrap > button{
  width: 10%;
}
#message-component .btn-white, .btn-white:hover, .btn-white:focus{
  color: white !important;
  background-color:transparent;
}
#message-component .date-sent{
  padding: 3px auto;
  text-align: center;
  /* color:white; */
  color: #bfbfbf;
  /* background-color: rgba(255,255,255,0.2); */
  /* border-top: 1px dashed white; */
}
#message-component .my-time-sent-div,
#message-component .their-time-sent-div{
  display:none;
  /* position: inline-block; */
}
#message-component .my-time-sent-div{
  float:right;
}
#message-component .their-time-sent-div{
  float:left;
}
#message-component .media:hover > .my-time-sent-div,
#message-component .media:hover > .their-time-sent-div
{
  display:block;
  position: relative;
  /* display: table-row-group; */
  transition-timing-function: ease-in-out;
  /* position: inline-block; */
  
}
#message-component .time-sent{
  font-size: 12px;
  margin: 5px 7px;
  /* color: white; */
  color: #bfbfbf;
  vertical-align: middle !important;
}
#message-component .msg-wrap{
  /* width: 100%; */
  /* border-bottom: 1px solid gray; */
  /* display: block; */
  margin-top: 8px;
}
#message-component .their-msg{
  background-color: #f5f5f5;
  /* border: 1px solid gray; */
  border: 1px solid #dee5e6;
  border-radius: 25px;
  border-top-left-radius: 1px;
  /* padding: 9px 15px; */
  padding: 6px 13px;
  width:auto;
  max-width: 330px;
  word-wrap: break-word;
  float: left;
}
#message-component .their-msg > p{
  font-size: 12px;
  color:rgb(51, 51, 51);
  margin: 0;
}
#message-component .my-msg{
  background-color: rgb(13, 181, 202);
  vertical-align: middle;
  /* border: 1px solid gray; */
  width:auto;
  float:right;
  border-radius: 25px;
  border-top-right-radius: 1px;
  /* padding: 9px 15px; */
  padding: 6px 13px;
  max-width: 330px;
  word-wrap: break-word;
  /* float: right; */
}
#message-component .my-msg > p{
  font-size: 12px;
  /* color:rgb(51, 51, 51); */
  color:white;
  margin: 0;
}
/* .msg-my-msg{
  background-color: #e4dcdc;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 6px;
  max-width: 50%;
} */
#message-component .avatar{
  height: 25px;
  width: 25px;
}
#message-component .media .avatar{
  margin-right: 3px;
}
#message-component .media-head{
  font-size: 13px;
  line-height: 1.55em;
  margin-top: 5px;
  margin-bottom: 1px;
  font-weight: bold;
  color: rgb(37, 37, 37);
}
#message-component .media p.prev-msg{
  font-size: 13px;
}
#message-component .msg-main-body{
  padding: 0;
  display: flex;
  /* height: 80vh; */
  height: 530px;
}
#message-component .contacts-cont{
  width: 40%;
  position: relative;
}
#message-component .cont-head{
  padding: 0;
  /* height: 10%; */
}
#message-component .cont-body{
  height: 83%;
  /* padding: 10px; */
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-wrap: break-word; */
}
#message-component .cont-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 3px 7px 5px 7px;
  /* background-color: #23c0d4; */
}
#message-component .cont-search{
  height: 7%;
  /* margin-bottom: 5px; */
  padding-top: 5px;
  /* padding-bottom: -5px; */
  padding-left: 13px;
  padding-right: 5px;
  /* background-color: rgb(197, 194, 194); */
}
#message-component .main-msg-body{
  width: 75%;
  border-left: 1px solid #e4dcdc;
  /* padding: 2px; */
  position: relative;
}
#message-component .msg-head{
  /* padding: 6px 10px; */
  display: flex;
  width: 100%;
  /* height: 10%; */
  /* color: white; */
  height: 45px;
  background-color: rgba(255, 255, 255, 0.2);
}
#message-component .msg-head-1{
  width: 50%;
  padding: 8px 10px;
  position: inline-block;
}
#message-component .msg-head-2{
  width: 50%;
  padding: 0px 10px;
  position: inline-block;
  /* justify-items: right;  */
}
#message-component .head-name{
  vertical-align: middle;
  /* margin: 14px 10px; */
  color: white;
}
#message-component .msg-display{
  display: relative;
  /* height: 78%; */
  height: 415px;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  overflow-x:hidden;
  overflow-y: auto;
  padding: 13px 5px;
}
#message-component .msg-input{
  vertical-align: middle;
  background-color: white;
  box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  bottom: 0;
  /* right: 0; */
  /* height: 12%; */
  min-height: 70px;
  width: 100%;
  justify-items: self-start;
  /* background-color: rgb(231, 231, 231); */
  -webkit-box-shadow-top: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  // box-shadow-top: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
}
// #message-component .msg-input > textarea{
  /* display: block; */
  /* height: 30px; */
  /* width: 70%;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 3px 5px; */
// }
/* .msg-input-wrap{
  height: 90px;
  padding: 4px 7px;
  width: 100%;
} */
#message-component .contact-list > li a{
  display: block;
  width: 100%;
  border-bottom: 1px solid gray;
}
#message-component .cont-name:hover .media,
#message-component .cont-name:focus .media{
  /* background-color: #f7f7f7; */
  background-color: #eeeeee;
}
#message-component .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
  background-color: #ffffff;
  color: #23c0d4;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#message-component .nav-pills:not(.nav-pills-icons) > li > a {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#message-component .nav-pills > li > a{
  color: #908f8f;
}
#message-component .nav-pills > li > a:hover{
  font-size: 13px;
  font-weight: 700;
  transition-timing-function: ease-in-out;
}
#message-component .thread-head{
  padding: 5px 12px;
}
#message-component .unread-label{
  padding: .2em .6em .3em;
}
#message-component ::-webkit-scrollbar-track{
  display: none;
}
#message-component .modal-content .modal-body {
  padding-top: 0px;
}
#message-component .filedisp{
  font-size: 13px;
  transition: font-size 0.7s;
  -webkit-transition: font-size 0.7s;
}
#message-component .filedisp:hover{
  font-size: 15px;
}


// VIEW JO STYLES
.taskimgdiv{
  /* max-width:fit-content; 
  max-height: fit-content;  */
  max-width: 100%;
  overflow-x: auto; 
  display:flex;
  /* background-color:darkgray; */
}
.task-img{
  height: 100%; 
  max-height: 200px; 
  display: inline-block; 
  margin-right: 10px;
}
.taskdesattach{
  width: 93%;
  padding: 10px 5px 15px 5px;
}
.taskno-cir{
  width: 6%;
  background-color: #408690;
  color: white;
  padding: 7px 10px;
  height:35px;
  width:35px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  margin: 8px;

  /* border-radius: 30px; */
}
.taskattach {
/* background-color: #e5f0f5; */
padding:10px 6px;
width: auto;
color: gray;
}
.taskdesc{
  display:flex;
  position:relative;
  clear: both;
  flex-wrap: nowrap;
  border:1px solid#e2e7ea;
  border-radius: 10px;
  margin: 10px;
  border-left:3px solid #e2e7ea;
  
}
.taskdesc:hover > .taskno-cir{
  background-color: white;
  color: #408690;
  border: 2px solid #408690;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

.joform {
box-sizing: border-box;
width: 100%;
min-height: 65vh;
background-color: white;
border: 1px solid white;
/* padding: 10px 20px; */
margin-left: 5px;
margin-top: 20px;
padding-bottom: 70px;
/* padding-bottom: 270px; */
position: relative;
}
.jo-head {
/* position: absolute; */
top: 0;
left: 0;
width: 100%;
padding: 2px 20px;
border-bottom: 1px solid rgb(223, 223, 223);
}
.jo-body {
position: relative;
/* height: auto; */
width: 100%;
padding: 10px 20px;
margin: 0;
}

// NEW JO STYLES

.mr-10{
  margin-right: 13px;
}
#addtaskdiv{
  max-height: 70vh; 
  overflow-y: auto; 
  overflow-x: hidden
}

.taskcard{
  padding: 15px;
  border: 2px solid #d3d3d3;
  h5{
      margin-top: 5px;
  }
  textarea{
      height: 90px;
      resize:none;
      white-space: pre;
  }
  select,input,textarea{
      border: 2px solid #d3d3d3;
      border-radius: 5px;
      padding: 4px 5px;
  }

}

.txt-bold {
  font-weight: bold !important;
  font-size: 12px;
}
// end of VIEW JO STYLES

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top:auto;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 200;
  background-size:cover;
}


//Kanban styles
.btn-close{
  padding: 3px 5px;
  font-size: 11px;
  margin: 0;
  border-radius: 2px;
}
.btn-close:hover{
  color: rgb(235, 42, 42);
}


.board-body{
max-width: 100%;
// max-height: 80%;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
padding-bottom: 20px;
// display: flex;
// position: relative;
}
.board-header,
.workload-header{
  width: 100%;
  color: white;
  .board-name,
  .workload-name{
    display:inline-block;
    h4{
      margin: 10px 0; 
    }
  }
  .board-info,
  .workload-info{
    display:inline-block;
    margin-left: 20px;
    p{
      font-size: 12px;
    }
  }
}
.board-wrapper{
padding: 0 20px;
}

/*lipat hehe */

    //Gallery style
    .kanban-component .btn-eks{
      position: absolute;
      top: 2px;
      right: 0;
  }
  .kanban-component .gallery{
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      height: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 30px auto;
  }
  //end of Gallery style

  // TASK VIEW
  .kanban-component .taskView{
      background-color: white;
      height: 80%; 
      overflow-y: auto;
      width: 80%;
      padding: 10px 30px; 
      margin: 5% auto; 
      border-radius: 5px;
      input, textarea, select {
          padding: 8px 12px;
          height: auto;
          
      }
      label{
          color: #4d4d4d;
      }
      .formfooter{
          position: absolute;
          bottom: 0;
          left: 0;
      }
  }

  //comment section
  .kanban-component .comment-icon{
      height: 20px; 
      width: 20px; 
      border-radius: 50%;
  }
  .kanban-component .comment-box{
      background-color: #f9f9f9; 
      max-height: 300px; 
      overflow-y: auto; 
      border: 1px solid #e4e3e3;
  }
  .kanban-component .comment-input-wrap{
      display: inline-flex;
      width: 100%;
      vertical-align: middle;
      background-color: white;
      box-sizing: border-box;
      padding: 2px 10px;
      position: relative;
      min-height: 70px;
  }
  .kanban-component .comment-input-wrap > textarea{
      width:80%;
  }
  .kanban-component .comment-input-wrap > button{
      width: 10%;
  }
  .kanban-component .comment-msg{
      padding: 3px 10px;

      h6{
          margin: 3px 0; 
      }
      p{
          margin: 3px 25px;
      }
      .comment-comment > img{
          margin: 3px 25px;
      }
  }
  //end of comment section
  //end of Task View

  //ADD TASK style
  .kanban-component .newTaskForm{
      background-color: white;
      height: auto; 
      width: 500px; 
      padding: 10px 30px; 
      margin: 5% auto; 
      border-radius: 5px;
      input, textarea, select {
          padding: 8px 12px;
          height: auto;
      }
      label{
          color: #4d4d4d;
      }
      .formfooter{
          position: absolute;
          bottom: 0;
          left: 0;
      }
  }
  //end of ADD TASK style
  
  //stay here
  .kanban-component .btn-close{
      padding: 3px 5px;
      font-size: 11px;
      margin: 0;
      border-radius: 2px;
  }
  .kanban-component .btn-close:hover{
      color: rgb(235, 42, 42);
  }

  /* gawagawa */
  .kanban-component #ataskment-wrapper{
      overflow-x:hidden;
  }
  .kanban-component .ataskment{
      margin-top: 8px;
  }
  .kanban-component .media p{
      font-size: 14px;
      margin: 0;
      color: unset;
  }
  .kanban-component .media-left{
      padding: 0;
      padding-right: 10px;
  }
  .kanban-component .ataskment-thumb{
      background-color: rgba(9,45,66,.08);
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 3px;
      height: 80px;
      width: 112px;
      display:block;
  }
  .kanban-component .ataskment-thumb > span{
      color: #6b808c;
      display: block;
      font-size: 18px;
      font-weight: 700;
      height: 100%;
      line-height: 80px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
  }
  .kanban-component .taskInput{
      background: transparent;
      outline: none;
      border: none;
  }
  //end of KANBAN STYLES


