//All Custom CSS Here!
.navbar{
  margin-bottom:5px !important;
  width: 83vw;
}

#nav-admin{
  float:left;
  // width: 83vh;
}
.title-head,
.first-row{
  padding: 5px 10px;
}

.title-head > h1 {
  font-size: 20px;
  margin: 0;
}

.first-row{
  // width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);
  margin-top: 7px;
  margin-bottom: 3px;
  // height: 200px;
  border: 1px solid #d6d6d6;
}

.main-main-container{
    width: 83vw;  
    height: auto; 
    float: left; 
    position:relative;
    padding: 10px;
  } 
  .pl-10 {
    padding-left: 10px !important;
  }
  .pl-20{
    padding-left: 20px !important;
  }

.nav-side-menu {
    // overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    width:  17vw; 
    height: 100vh; 
    float: left; 
    position: relative; 
    background-color: #2e353d;
    color: #fff;  
  }
  .nav-side-menu .brand {
    background-color: #00161c;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    // float: right;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #00bcd4;
    background-color: #4f5b69;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    // color: #d19b3d;
    color: #75d3ff;

  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #75d3ff;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #00bcd4;
    background-color: #4f5b69;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5 s ease;
  }
  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }

.mycard{
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-top: 7px;
    display:block;
}

.mycard-full-info{
    background-color: #2196f3;
    color: white;
    border-left: #08528f solid 4px;
}

.mycard-full-primary{
    background-color: #ab47bc;
    color: white;
    border-left: #7e358b solid 4px;
}

.mycard-full-success{
    background-color: #05ce26;
    color: white;
    border-left: #128f27 solid 4px;
}


.mycard-sm{
    width: 70%;
    height: 60px;
    padding: 8px;
    margin-top: 7px;
    display:block;
}
.mycard-outline-info{
    border: #2196f3 solid 1px;
    color: rgb(51, 51, 51);
}


//END OF MY CARD

body{
    background-color: whitesmoke;
    overflow: none;
    height: 100vh;
    float: left;
    width: 100vw;
    overflow-x: hidden !important;
}

hr{
  margin-top: 10px !important;
  margin-bottom: 8px !important;
}
.content{
    display: block;
    position:relative;
    background-color: white;
    width: 100%;
    height: 95vh;
    margin:0;
    padding: 8px 10px;
}

.content-title{
    display:relative;
    
}

.admin-db{
    padding: 2px 0;
}

.bg-dark{
    color:white;
   background:rgb(64,64,64);
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e0e0e0; 
    width: 7px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
    transition-delay: 0.3s; 
}

